//////////////////////
//spacing
//////////////////////

$spacing-2: 2px;
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-18: 18px;
$spacing-20: 20px;
$spacing-22: 22px;
$spacing-24: 24px;
$spacing-26: 26px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-38: 38px;
$spacing-48: 48px;
$spacing-50: 50px;
$spacing-64: 64px;
$spacing-72: 72px;

//////////////////////
//colors
//////////////////////

$shams-white: #ffffff;
$shams-blue: #0d66b0;
$shams-blue-dark: #08266e;
$shams-blue-darker: #003057;
$shams-navy: #1F3261;
$shams-blue-light: #00c4e5;
$shams-yellow: #ffad36;
$shams-mint: #e6fafd;
$shams-gray: #898d8d;
$shams-gray-light: #E6E6E6;

//////////////////////
//fonts
//////////////////////

$font-xxs: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-base: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 32px;
$font-xxxl: 48px;

//////////////////////
//breakpoints
//////////////////////

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
