.primary-btn {
  margin-bottom: $spacing-24;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 48px;
  background-color: $shams-blue;
  color: $shams-white;
  border-radius: 999px;
  font-size: $font-md;
  @include transition-ease(0.3s, background-color);
  position: relative;
  z-index: 1;
  border: 1px solid $shams-blue;
  &:hover {
    @include transition-ease(0.4s, color);
    color: $shams-blue;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    border-radius: 999px;
    background-color: $shams-white;
    z-index: -1;
    transform: translate(0, -100%);
  }
  &:hover::before {
    visibility: visible;
    transform: translate(0, 0);
    animation: wave 0.6s linear;
  }
}

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing-8;
  &__heading-action {
    a {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: $spacing-8;
      padding-block: $spacing-12;
    }
  }
  &__heading-action-text {
    color: $shams-blue;
    font-size: $font-md;
  }
  &__heading-action-btn {
    color: $shams-blue;
    background: transparent;
    border: 1px solid $shams-blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    &:lang(en) {
      svg {
        rotate: (180deg);
      }
    }
  }
}
