.scroll-down {
  display: flex;
  align-items: center;
  color: $shams-white;
  gap: $spacing-10;
  position: absolute;
  inset-inline-start: 60px;
  inset-block-end: 50px;
  cursor: pointer;
  z-index: 98;

  &__icon {
    border: 2px solid $shams-white;
    border-radius: 8px;
    padding-inline: $spacing-10;
    padding-block-start: 20px;
    padding-block-end: 5px;
    font-size: 12px;

    svg {
      animation: spring 0.7s infinite alternate;
    }
  }
}

@keyframes spring {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(2px);
  }
}
