.footer {
  position: relative;
  z-index: 99999;

  background-color: $shams-blue-dark;
  color: $shams-white;

  &__wrapper {
    padding-inline: $spacing-48;
    padding-block-start: $spacing-48;
    @include breakpoint($sm) {
      background: url('/assets/img/static/footer.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__bottom {
    background-color: $shams-blue-darker;
    padding: $spacing-24;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-24;
    @include breakpoint($md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__bottom-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
    row-gap: $spacing-8;
    & > *:not(:last-child) {
      padding-inline-end: $spacing-12;
    }
    & > *:not(:first-child) {
      border-inline-start: 0.75px solid rgba($shams-gray, 0.75);
      padding-inline-start: $spacing-12;
    }
  }
  &__bottom-item {
    font-size: $font-sm;
    color: rgba($color: $shams-white, $alpha: 0.7);
  }

  &__bottom-rights {
    font-size: $font-sm;
  }
}

.sitemap {
  padding-bottom: $spacing-24;
  border-bottom: 0.75px solid rgba($shams-blue-light, 0.4);

  &__row {
    row-gap: $spacing-24;
  }
  &__title {
    font-size: $font-md;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: $spacing-16;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-12;
  }
  &__item {
    display: flex;
    align-items: baseline;
    gap: $spacing-8;
    @include transition-ease(0.2s);
    &:hover {
      color: $shams-yellow;
      transform: translateX(2px);
      &:lang(ar) {
        transform: translateX(-2px);
      }
    }
  }

  &__link {
    font-size: $font-sm;
    transition: color 0.3s;
  }
}

.shams-info {
  display: flex;
  gap: $spacing-24;
  align-items: center;
  font-size: $font-xs;
  padding-block: $spacing-24;
  flex-direction: column;
  @include breakpoint($md) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__vision {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding-inline-end: $spacing-24;
    border-inline-end: 0.75px solid rgba($shams-gray, 0.75);
  }
  &__vision-logo {
    padding-inline-start: $spacing-24;
  }

  &__social-icons {
    display: flex;
    align-items: center;
    gap: $spacing-24;
  }
  &__social-icon {
    font-size: 34px;
  }
}

.sitemap-icon {
  font-size: 9px;

  &:lang(ar) {
    transform: rotate(180deg);
  }
}
