.header {
  display: none;
  @include breakpoint($lg) {
    display: block;
  }

  position: absolute;
  width: 100%;
  z-index: 1000;
  &__wrapper {
    margin: 0 calc(-141.32992px + 17.708vw);
    font-size: calc(8.3136px + 0.48vw);
  }

  &__logo {
    top: calc(-6.76096px + 1.922vw);
    left: 50%;
    position: absolute;
    top: 2.2rem;
    transform: translateX(-50%);
    visibility: visible;
  }

  &__utils {
    display: flex;
    color: $shams-white;
    flex-direction: row;
    height: calc(25.85088px + 2.884vw);
    padding-bottom: 0;
    justify-content: flex-end;
  }

  &__lang {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: -1rem;

    &-link {
      padding: 0.8rem 1.2rem;
    }
  }

  .header__menu {
    height: calc(31.55264px + 2.402vw);
    color: $shams-white;
    margin: 0 auto;
    position: relative;
  }

  .header__menu-items {
    margin: 0 calc(10.77632px - 1.924vw);
    display: flex;
    height: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      z-index: -1;
      top: 0;
      width: calc(50% - 34.16448px - 9.364vw);
      border-top: 1px solid $shams-white;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      display: block;
      z-index: -1;
      top: 0;
      width: calc(50% - 34.16448px - 9.364vw);
      border-top: 1px solid $shams-white;
    }
  }

  .header__menu-item {
    padding: 0 calc(-10.76096px + 1.922vw);

    &--space {
      margin-inline-start: auto;
    }

    &--active {
      border-bottom: 1px solid $shams-yellow;
      .header__submenu {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s;
      }

      .menu-icon {
        transform: rotate(180deg);
        padding-block-start: unset;
        padding-block-end: 8px;
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 115%;
    left: 0;
    display: flex;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s;
    // padding-inline-start: 40px;
  }

  .menu__item {
    align-items: center;
    display: flex;
    height: 100%;
    transition: opacity 0.2s, color 0.2s;
    visibility: visible;
    gap: 4px;
    cursor: pointer;
  }

  &__submenu-item {
    margin: 0 calc(-10.76096px + 1.922vw);
    padding-bottom: 0.5rem;

    &:hover {
      border-bottom: 1px solid $shams-yellow;
    }
  }
}

.header-top {
  display: none;
  @include breakpoint($lg) {
    display: block;
  }
  position: fixed;
  width: 100%;
  top: -100px;
  z-index: 999;
  background-color: $shams-white;
  transition: all 0.3s;
  &--show {
    top: 0;
  }

  &__wrapper {
    margin: 0 calc(-141.32992px + 17.708vw);
    font-size: calc(8.3136px + 0.48vw);
    height: calc(27.32128px + 3.604vw);
    color: $shams-blue-dark;
  }

  &__submenu-item {
    cursor: pointer;
  }

  &__menu {
    height: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__menu-items {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
  }
  &__menu-item {
    height: 100%;
    display: flex;
    align-items: center;

    &--active {
      .header-top__submenu {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s;
        z-index: -1;
      }
    }
  }

  &__menu-item--active {
    border-bottom: 2px solid $shams-yellow;
    .menu-icon {
      @include transition-ease(0.3s);
      transform: rotate(180deg);
      padding-block-start: unset;
      padding-block-end: 8px;
    }
  }

  .menu__item {
    cursor: pointer;
  }

  &__submenu {
    position: absolute;
    width: 100%;
    background-color: $shams-blue-dark;
    padding-block: 48px;
    padding-inline-start: 276px;
    padding-inline-end: 48px;
    display: flex;
    align-items: flex-start;
    inset-inline-start: 0;

    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s;
    z-index: -999;
    top: 100%;
  }

  &__submenu-titles {
    padding-inline-end: 48px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-inline-end: 1px solid rgba($color: $shams-white, $alpha: 0.2);
  }
  &__submenu-title {
    text-wrap: nowrap;
    white-space: nowrap;
    font-size: 18px;
    line-height: 18px;
    color: rgba($color: $shams-white, $alpha: 0.6);
    &--active {
      color: $shams-white;
    }
  }
  &__submenu-content {
    color: $shams-white;
    padding-inline-start: 48px;
    font-size: $font-sm;
    width: 100%;
    height: 100%;

    &--variant-1 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      a {
        margin-inline-end: auto;
      }
    }
  }
}

.menu-icon,
.menu-icon-r {
  @include transition-ease(0.3s);
  font-size: 10px;
  padding-block-start: 8px;
}

.header-mobile {
  position: absolute;
  width: 100%;
  top: 0;
  inset-inline-start: 0;
  z-index: 99;
  @include breakpoint($lg) {
    display: none;
  }
  &__wrapper {
    font-size: calc(8.3136px + 0.48vw);
    height: calc(27.32128px + 3.604vw);
    margin: 0 calc(8.39664px + 3.086vw);
    padding-block: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.mobile-menu-icon {
  font-size: 1.5rem;
  color: $shams-white;
  cursor: pointer;
}

.drawer {
  height: 100dvh;
  background-color: $shams-blue-dark;
  position: fixed;
  inset-block: 0;
  inset-inline-start: 0;
  transform: translateX(102%);
  width: 100%;
  inset-inline-end: 0;
  color: $shams-white;
  @include transition-ease;
  &--active {
    // inset-inline-start: 0;
    transform: translateX(0);
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: 28px;
    padding-block-end: 1rem;
    background-color: $shams-blue-darker;
    font-size: 28px;
    padding-inline: 1rem;
  }

  &__title {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
  }

  &__title-icon {
    font-size: $font-xl;
  }

  &__close {
    cursor: pointer;
  }

  &__item {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:nth-child(1),
    &:hover {
      background-color: $shams-navy;
    }
  }

  &__item-title {
    font-size: 28px;
  }

  &__submenu {
    display: none;

    &-title {
      display: flex;
      align-items: flex-start;
      gap: 4px;
    }

    &-item {
      padding: 1rem;
      display: flex;
      cursor: pointer;

      &:hover {
        background-color: $shams-navy;
      }
    }

    &-item-title {
      font-size: 28px;
    }
  }
}

.drawer-icon-r {
  font-size: 12px;
  &:lang(ar) {
    transform: rotate(180deg);
  }
}
