.ceo {
  background-color: #e6fafd;
  display: block;
  padding-top: 100px;
  padding-bottom: 70px;
  &__container {
    // margin-top: 100px;
    position: relative;
  }
  &__title {
    font-size: 63px;
    @include breakpoint($md, max) {
      font-size: 28px;
    }
    font-weight: 700;
    margin-block: $spacing-24;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $shams-blue-dark;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 62px;
    right: 50%;
    transform: translateX(50%);
  }

  &__name {
    font-size: $font-xxxl !important;
    @include breakpoint($md, max) {
      font-size: 25px;
    }
    font-weight: 700 !important;
    color: $shams-blue-dark;
    @include breakpoint($md) {
      margin-block: $spacing-16;
    }
  }
  &__role {
    font-size: 28px !important;
    @include breakpoint($md, max) {
      font-size: 24px;
    }
    font-weight: 700 !important;
    color: $shams-yellow;
  }

  &__img {
    img {
      width: 360px;
      height: 360px;
      border-radius: 999px;
      object-fit: cover;
    }
  }

  &__description {
    font-size: $font-md;
    font-weight: 400;
    color: $shams-blue-dark;
    margin-block: $spacing-48;
    text-align: center;
    margin-top: 300px;
  }
}
