.contact-page {
  overflow: hidden;
  .contact{
    &__contact-form-section {
      height: min-content;
    }
    &__contact-form {
      position: relative;
      height: 100%;
      .contact__form-content{
        z-index: 1;
        position: inherit;
       }
    
      &__form-bg {
        position: absolute;
        background: url(../img/contact-bg.jpg);
        display: block;
        right: 0;
        top: 0;
        z-index: 0;
        width: 1000%;
        height: 100%;
    
        &:lang(en) {
          left: 0;
          right: unset !important;
        }
    
        @include breakpoint($lg, max) {
          right: -100%;
    
          &:lang(en) {
            left: -100%;
            right: unset !important;
          }
        }
    
      }
    }
  }
}
