.hero {
  &__media {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      z-index: 11;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(
        --gradiant-blue,
        linear-gradient(
          180deg,
          rgba(8, 38, 110, 0.5) 0%,
          rgba(8, 38, 110, 0) 95.32%
        )
      );
    }
  }
}

.about {
  padding-block: $spacing-48;
  @include breakpoint($lg) {
    padding-block: 125px;
  }

  &__row {
    row-gap: $spacing-24;
  }

  &__media {
    -webkit-mask-image: var(--mask-pattern);
    mask-image: var(--mask-pattern);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: $spacing-24;
  }

  &__text {
    font-size: $font-md;
    line-height: 29px;
    color: $shams-blue;
  }

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-24;

    & > * {
      text-align: center;
      flex: 1;
    }
  }
}

.our-partener {
  &__media {
    position: relative;

    & > img {
      min-height: 468px;
      object-fit: cover;
    }
  }

  &__text {
    color: $shams-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: normal;
  }
  &__desc {
    font-size: $font-md;
    line-height: 24px;
  }

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-48;
  }
}
