.project {
  padding-top: 40px;
  padding-bottom: 40px;
  color: $shams-blue-dark;
  &__date {
    font-size: $font-sm;
  }
  &__title {
    font-size: 22px;
    font-weight: 700;
  }

  &__heading {
    padding-inline: $spacing-24;
    margin-bottom: $spacing-24;
  }

  &__img {
    margin-bottom: $spacing-24;
    img {
      // max-height: 500px;
      aspect-ratio: 2/1;
      width: 100%;
      object-fit: cover;
      border-radius: $spacing-12;
    }
  }
}
