.tenders {
  padding-block: $spacing-72;
  &__item {
    padding: $spacing-24;
    border-radius: $spacing-12;
    border: 1px solid $shams-gray;
    background: $shams-white;
    margin-bottom: $spacing-24;

    &-title {
      @include line-clamp;
    }
  }

  &__item-content {
    border-bottom: 0.5px solid $shams-gray;
    padding-left: $spacing-12;
    @include breakpoint($lg) {
      border-left: 0.5px solid $shams-gray;
      &:lang(en) {
        border-left: unset;
        border-right: 0.5px solid $shams-gray;
      }
    }
  }

  &__item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacing-8;
  }
  &__item-date {
    font-size: $font-sm;
    color: $shams-blue-dark;
  }
  &__item-type {
    padding: $spacing-4 $spacing-24;
    border-radius: 999px;
    font-size: $font-sm;
    background: rgba($color: $shams-yellow, $alpha: 0.1);
    color: $shams-blue-dark;
  }

  &__item-body {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
    & > * {
      color: $shams-blue-dark;
    }
    h3 {
      font-size: 22px;
      font-weight: 700;
    }
    p {
      font-size: $font-md;
      margin-bottom: $spacing-16;
    }
  }
  &__details {
    background: $shams-mint;
    overflow: hidden;

    @include breakpoint($lg, max) {
      margin-bottom: $spacing-24;
    }
  }
  &__details-data {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    align-items: center;
    padding: $spacing-16;
    
    &:hover{
      background:rgba($color: $shams-blue-light, $alpha: 0.2);
    }

    p,
    span {
      color: $shams-blue-dark;
    }
  }
  &__details-date {
    @include breakpoint($md) {
      width: 100%;
    }
    @include breakpoint($md, max) {
      gap: $spacing-48;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__details-value {
    font-size: $font-sm;
  }
  &__details-title {
    font-weight: 700;
    text-align: center;
  }

  &__item-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    p,
    h4 {
      color: $shams-blue-dark;
    }
  }
  &__progress {
    padding-bottom: $spacing-16;
    border-bottom: 0.5px solid $shams-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-10;
    p {
      font-size: $font-md;
    }
  }
  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-4;
    justify-content: center;
    padding-block: $spacing-16;

    p {
      font-size: $font-sm;
    }

    h4 {
      font-size: $font-xxl;
    }
  }


  &__details-data-item:not(:last-child) {
    @include breakpoint($md) {
      border-left: 0.5px solid $shams-gray;
      &:lang(en) {
        border-left: unset;
        border-right: 0.5px solid $shams-gray;
      }
    }
    @include breakpoint($md, max) {
      border-bottom: 0.5px solid $shams-gray;
      padding-bottom: $spacing-16;
    }
  }
  &__details-data-item:not(:first-child) {
    @include breakpoint($md, max) {
      padding-top: $spacing-16;
    }
  }

  &__action {
    a {
      width: max-content;
      height: max-content;
      padding: $spacing-8 $spacing-16;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-16;

    .button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $shams-blue;
      color: $shams-blue;
      display: flex;
      align-items: center;
      justify-content: center;

      &:lang(en) {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__pagination-item {
    color: $shams-gray;
    &.active {
      color: $shams-blue;
    }
  }
}
